subscription_id = "<azure-subscription-id>"
location        = "eastus2"
sql_location    = "canadacentral"
search_location = "canadacentral"
openai_location = "eastus2"
client_ip_address = "<your-public-ipv4>"
